/* bg #FFFEF9 - #FCF2FB - #FAFAFA - #FFF9F9*/
* {
    margin: 0;
    padding: 0;
}


/* Header - Nav */
.navbar-index {
    background-color: #FF703D; /*#FAFAFA*/
    display: flex;
    font-size: 22px;
}
.navbar-index img {
    width: 75px;
    height: 75px;
}
.container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor-listas {
    display: flex;
    align-items: center;
    margin: 0 25px;
}
.nav-item {
    display: flex;
    margin: 0 25px;
    font-size: 18px;
}
.btn-carrito {
    background-color: #FF703D; /* #FAFAFA */
    border: none;
    padding: 7px 20px;
    display: flex;   
    align-items: center;
}
.btn-carrito img {
    width: 35px;
    height: 35px;
}

/* Main */
.contenedor-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 200px;
}
.main-titulo {
    font-size: 60px;
    margin-bottom: 70px;
}
.main-subtitulo {
    font-size: 40px;
    margin-bottom: 90px;
}
.main-banner {
    width: 90%;
    height: 400px;
}

.tab-redes-scroll {
    margin-left: 20px;
    display: flex;
    position: fixed;
    top: 50%;
}
.nav-tab-redes img {
    display: flex;
    margin: 40px 10px;
}
.nav-link-facebook img {
    width: 25px;
    height: 25px;
}
.nav-link-instagram img {
    width: 25px;
    height: 25px;
}
.nav-link-whatsapp img{
    width: 27px;
    height: 27px;
}

/* Producto */
.contenedor-producto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.grilla-tarjeta img {
    display: flex;
    width: 90%;
    height: 250px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.grilla-tarjeta {
    display: flex;
    list-style-type: none;
}
.tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prod2 {
    width: 38%;
}
.boton-vermas {
    border: none;
    border-radius: 7px;
    background-color: #FF703D;
    padding: 5px 35px;
}

/* About Us */
.contenedor-aboutus {
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
}
.aboutus-index {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 5rem;
}
.imagen-aboutus {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
}
.imagen-aboutus img {
    width: 850px;
    height: 650px;
}

/* Footer */
.footer-index {
    background-color: #FF703D;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 2px;
}
.footer-contenedor {
    max-width: 1200px;
}
.footer-seccion {
    display: flex;
    align-items: center;
    margin-right: -20rem;
    margin-left: 20rem;
    padding-left: 0;
    flex-wrap: wrap;
}
.footer-lista {
    display: flex;
    padding-left: 1050px;
}
.footer-lista li {
    margin: 0 15px;
    list-style-type: none;
}
.footer-lista a {
    text-decoration: none;
}
.footer-navitem img {
    width: 20px;
    height: 20px;
}
.section-divide {
    display: block;
    width: 100%;
    height: 1px;
    margin: 1rem;
    background-color: #000;
    opacity: .2;
}
.footer-copyright {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 80%;
}
.footer-logo {
    display: flex;
    padding-left: 165px;
    padding-bottom: 10px;
}
.footer-logo a img {
    width: 75px;
    height: 75px;
}
