/* Main */
.tab-redes-scroll {
    margin-left: 20px;
    display: flex;
    position: fixed;
    top: 50%;

    .nav-tab-redes img {
        display: flex;
        margin: 40px 10px;
    }

    .nav-link-facebook img {
        width: 25px;
        height: 25px;
    }

    .nav-link-instagram img {
        width: 25px;
        height: 25px;
    }

    .nav-link-whatsapp img {
        width: 27px;
        height: 27px;
    }
}

.contenedor-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 200px;

    .main-titulo {
        font-size: 60px;
        margin-bottom: 70px;
    }

    .main-subtitulo {
        font-size: 40px;
        margin-bottom: 90px;
    }

    .main-banner {
        width: 90%;
        height: 400px;
    }
}